<div id="walleeLoader"></div>
{% set walleeData = page.extensions.walleeData %}
{% if walleeData and walleeData.integration %}
	{% if walleeData.integration in ['iframe'] %}
		<ul class="wallee-payment-panel" data-wallee-checkout-plugin="true">
			<input value="false" type="hidden" name="wallee_payment_handler_validation_status"
				   form="confirmOrderForm">
			{% for transactionPossiblePaymentMethod in walleeData.transactionPossiblePaymentMethods %}
				<li data-id="{{ transactionPossiblePaymentMethod.getId() }}">

					<label for="input_payment_method_{{ transactionPossiblePaymentMethod.getId() }}">
						<input value="wallee_handler_{{ transactionPossiblePaymentMethod.getId() }}"
							   type="radio" name="wallee_payment_handler"
							   required="required" form="confirmOrderForm">
						{{ transactionPossiblePaymentMethod.getName() }} <img
								src="{{ transactionPossiblePaymentMethod.getResolvedImageUrl() }}"
								alt="{{ transactionPossiblePaymentMethod.getName() }}">
					</label>
					<div id="iframe_payment_method_{{ transactionPossiblePaymentMethod.getId() }}"
						 class="wallee-payment-iframe"></div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endif %}